src/main/resources/org/cthing/gradle/plugins/locc/locc-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:lc="http://www.cthing.com/locc"
        targetNamespace="http://www.cthing.com/locc">

    <annotation>
        <documentation>
            Schema describing the XML report generated by the gradle-locc Gradle plugin.
        </documentation>
    </annotation>

    <element name="locc" type="lc:loccSchema">
        <annotation>
            <documentation>
                Top level element. Attributes on this element provide information about the version of the file
                format, the date on which the report was produced and the project containing the counted files.
            </documentation>
        </annotation>
    </element>
    <element name="languages" type="lc:languagesSchema">
        <annotation>
            <documentation>
                Container for the list of all languages found in the counted files. Attributes on this element
                provide the total count of languages and lines in all counted files.
            </documentation>
        </annotation>
    </element>
    <element name="language" type="lc:languageSchema">
        <annotation>
            <documentation>
                Information about a language found in the counted files. Attributes of this element provide
                the language details and the lines counted for the language.
            </documentation>
        </annotation>
    </element>
    <element name="files" type="lc:filesSchema">
        <annotation>
            <documentation>
                Container for the list of all files counted. Attributes on this element provide the total count
                of files and lines counted.
            </documentation>
        </annotation>
    </element>
    <element name="file" type="lc:fileSchema">
        <annotation>
            <documentation>
                Information about a counted file.
            </documentation>
        </annotation>
    </element>

    <complexType name="loccSchema">
        <all>
            <element ref="lc:languages"/>
            <element ref="lc:files"/>
        </all>
        <attribute name="formatVersion" type="nonNegativeInteger" use="required" fixed="1">
            <annotation>
                <documentation>
                    The version of this schema.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="date" type="dateTime" use="required">
            <annotation>
                <documentation>
                    Date and time in ISO 8601 format when the report was generated.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="projectName" type="string" use="required">
            <annotation>
                <documentation>
                    Name of the root Gradle project that generated the report.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="projectVersion" type="string" use="required">
            <annotation>
                <documentation>
                    Version of the Gradle project that generated the report.
                </documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="languagesSchema">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element ref="lc:language"/>
        </sequence>
        <attribute name="numLanguages" type="nonNegativeInteger" use="required">
            <annotation>
                <documentation>
                    Total number of languages detected in the counted files.
                </documentation>
            </annotation>
        </attribute>
        <attributeGroup ref="lc:countAttrs"/>
    </complexType>

    <complexType name="languageSchema">
        <attribute name="name" type="token" use="required">
            <annotation>
                <documentation>
                    Identifier for the language.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="displayName" type="string">
            <annotation>
                <documentation>
                    Name of the language for display in a user interface.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="description" type="string">
            <annotation>
                <documentation>
                    Description of the language.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="website" type="string">
            <annotation>
                <documentation>
                    URL of a website that provides detailed information about the language. Typically, this is the
                    official site for the language. If there is no official site, an alternate source of information
                    may be provided (e.g. Wikipedia).
                </documentation>
            </annotation>
        </attribute>
        <attributeGroup ref="lc:countAttrs"/>
    </complexType>

    <complexType name="filesSchema">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element ref="lc:file"/>
        </sequence>
        <attribute name="numFiles" type="nonNegativeInteger" use="required">
            <annotation>
                <documentation>
                    Total number of files counted and unrecognized.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="numUnrecognized" type="nonNegativeInteger" use="required">
            <annotation>
                <documentation>
                    Number of files that were not counted because they were not recognized.
                </documentation>
            </annotation>
        </attribute>
        <attributeGroup ref="lc:countAttrs"/>
    </complexType>

    <complexType name="fileSchema">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element ref="lc:language"/>
        </sequence>
        <attribute name="pathname" type="string" use="required">
            <annotation>
                <documentation>
                    Pathname of the file relative to the root of the Gradle project.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="unrecognized" type="boolean" default="false">
            <annotation>
                <documentation>
                    Indicates whether the file was in a language supported by the locc4j library.
                    Unreconized files are not counted and counts are reported as 0.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="numLanguages" type="nonNegativeInteger" use="required">
            <annotation>
                <documentation>
                    Number of languages detected in the file.
                </documentation>
            </annotation>
        </attribute>
        <attributeGroup ref="lc:countAttrs"/>
    </complexType>

    <attributeGroup name="countAttrs">
        <attribute name="totalLines" type="nonNegativeInteger" use="required">
            <annotation>
                <documentation>
                    Total number of lines of counted. Depending on the context in which this
                    attribute is presented, it can mean the total number of lines in a file or
                    in a specific language.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="codeLines" type="nonNegativeInteger" use="required">
            <annotation>
                <documentation>
                    Number of lines of code counted. Depending on the context in which this
                    attribute is presented, it can mean the number of code lines in a file or
                    in a specific language.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="commentLines" type="nonNegativeInteger" use="required">
            <annotation>
                <documentation>
                    Number of comment lines counted. Depending on the context in which this
                    attribute is presented, it can mean the number of comment lines in a file or
                    in a specific language. Note that lines containing both code and comments are
                    counted as code lines.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="blankLines" type="nonNegativeInteger" use="required">
            <annotation>
                <documentation>
                    Number of blank lines counted. Depending on the context in which this
                    attribute is presented, it can mean the number of blank lines in a file or
                    in a specific language.
                </documentation>
            </annotation>
        </attribute>
    </attributeGroup>
</schema>
